<form action="/names" method="post">
  <input name="player1_name" placeholder="Player 1 Name" type="text">
  <input name="player2_name" placeholder="Player 2 Name" type="text">
  <button type="submit">Submit</button>
</form
